body {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Overpass', sans-serif;
}

p {
    color: gray;
}

.header {
    height: 600px;
    background: url('../images/bg-pattern-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsl(356, 100%, 66%);
    border-bottom-left-radius: 90px;
}